/*CSS Document*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*OUR MADE CSS*/

*
{
 padding:0;
 margin:0;
}

body
{
  background-color:#F0F0F0;
}

#page
{
   width:67vw;
   height:57vw;
   background-color: red;
   margin: 0 auto;
}

.logo
{
   width:8vw;
   height:8vw;
   margin-left: 12vw;
}

.navli
{
  list-style:none;
  float:left;
  margin-left:12vw;
  margin-top:10px;
}

.navul
{
  float:right;
  margin-right:70px;
}

.nava
{
   text-decoration:none;
    font-size:20px;
}

#navbar
{
    width:cover;
    height:40px;
    border:2px solid black;
    border-radius:10px;
    background-color: white;
}

.google_map
{
  box-shadow: 1px 2px 10px 3px;
  margin-top: 10px;
}

.headers
{
  font-size: 30px;
  margin-left: 25vw;
}

.menu_margin{
 width: 100%;
 height: 10vw;

}
